div {
    width: 100px;
    height: 100px;
    background-color: #3d405b;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
}
#middle {
    background-color: #81b29a;
}
#static #middle {
    position: static;
    top: 100px;
    /*here not use left, top ,right */
    /*here use margin*/

}

#relative #middle {
    position: relative;
   /* top: 11px;
    left: 51px;*/
}
#absolute {
    position: relative;
}
/* absoulte ne raltive devathi te reLAT KARIDE 6E*/ 
#absolute #middle {
    position: absolute;
  /*  top: 50px;
    left: 0px;*/
}
#fixed #middle {
    position: fixed;
    top: 10px;
    left: 500px;
}